// Colors
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #307c9c;
$color-primary-light: #3b91ae;
$color-primary-dark: #1b4d6a;

$color-secondary-light: #a3ce84;
$color-secondary-dark: #8fb295;

$color-tertiary-light: #4087ce;
$color-tertiary-dark: #244c77;

$color-quartenary-light: #b5c99a;
$color-quartenary-dark: #718355;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#999;
// $color-grey-dark-3:#314f6c;
$color-grey-dark-3: #1b4d6a;
$color-grey-dark-4: #113e58;



$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$defaul-font-size: 1.5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;