// FUNCTIONALITY
.card {
    // New property The lower tha value the more dramatic the persepective is
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 54rem;

    &__side {
        // color: #fff;
        // font-size: 2rem;
        // color: $color-grey-dark;

        height: 54rem;
        // ease makes the transitions look smoother
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // This property hides the backside of an element
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
            // transform: rotateY(180deg);
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-dark, $color-tertiary-light);
            }
            &-4 {
                background-image: linear-gradient(to right bottom, $color-quartenary-dark, $color-quartenary-light);
            }
        }
    }

    //.card_hover .care__side {}
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    //.card_hover .care__side {}
    &:hover &__side--back {
        transform: rotateY(0);
    }
    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        // background-blend-mode: screen nor clip-path; are a new css property, it doesn't work on explorer or edge, ony safari, chrome, firefox
        background-blend-mode: screen; // This are typicaly used in photoshop
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
       
        &--1 { 
            background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light), url(../img/nat-5.jpg);
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light), url(../img/nat-6.jpg);
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-dark, $color-tertiary-light), url(../img/nat-7.jpg);
        }
        &--4 {
            background-image: linear-gradient(to right bottom, $color-quartenary-dark, $color-quartenary-light), url(../img/nat-7a.jpg);
        }
    }

    &__heading {
        font-size: 2.3rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align:right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        // The clone in box decortion break creates the two seprated sections of the same phrase look like two different enntities
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .95), 
            rgba($color-primary-dark, .95));
            
        }
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .95), 
            rgba($color-secondary-dark, .95));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .95), 
            rgba($color-tertiary-dark, .95));
        }
        &--4 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-quartenary-light, .95), 
            rgba($color-quartenary-dark, .95));
        }
    }

    &__details {
        padding: 2rem;
        width: 85%;
        margin: 0 auto;

        ul {
            list-style: none;
            width: 95%;
            li {
                text-align: center;
                font-size: 1.4rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }

            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;

    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;

    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}